/* 00_style.css */
/* TODO: 여기는 공통 css 입니다. */
/* 웹폰트: 영문(Montserrat), 한글(Noto Sans KR) */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
/* TODO: 피그마에서 제가 색상팔레트-> css 뽑기 */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* Color styles */
  --neon--mint: rgba(100, 255, 206, 1);
  --gray-0: rgba(255, 255, 255, 1);
  --gray-1: rgba(243, 243, 243, 1);
  --gray-2: rgba(218, 218, 218, 1);
  --gray-3: rgba(181, 181, 181, 1);
  --gray-4: rgba(114, 114, 114, 1);
  --gray-5: rgba(58, 58, 58, 1);
  --gray-6: rgba(35, 35, 35, 1);
  --gray-7: rgba(19, 19, 19, 1);
  --black: rgba(0, 0, 0, 1);
  --light-olive: rgba(132, 180, 40, 1);
  --beige: rgba(238, 230, 222, 1);
  --red: rgba(255, 0, 0, 1);

  /* Effect styles */
  --card: 0px 6px 12px rgba(0, 0, 0, 0.25);
}

/* 공통디자인: 마진/패딩 0 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body: 웹폰트 */
body {
  font-family: "Roboto", "pretendard", serif;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  /* TODO: 색깔표시 rgba(빨간색,녹색,파란색,투명도) */
  /* TODO: 빨간색: 0-255 까지 숫자 */
  /* TODO: 투명도: 0-1 사이 실수 */
  /* TODO: 색깔에 이름이 붙은 것을 사용(추천)
        사용법: 속성: var(색깔이름)
     */
  color: var(--black);
}
